In [73]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [74]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [75]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [76]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temps = session.query(Measurement).filter(extract('month' , Measurement.date) == 6)

In [77]:
#  3. Convert the June temperatures to a list.

june_temps_list = [temp.tobs for temp in june_temps]

In [78]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

june_temps_df = pd.DataFrame(june_temps_list , columns=['June'])

In [79]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

              June
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [80]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [81]:
# 7. Convert the December temperatures to a list.

In [82]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [83]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.